body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.container{
width: 100vw;
    height: 100vh;
    margin-right: auto;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 20px;
    color:white;
    

    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);

    gap: 10px;
    

    padding: 50px;
    box-sizing: border-box;
}

.container div{
    padding: 10px;
    
}

.logo {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content:top;
    align-items:center;   
}
.märke{
    width: 50px;
}
.meny{
    grid-column: 4/10;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content:top;
    align-items:center;
    justify-content: space-evenly;
    border: 1px solid black;
}
.story{
    grid-column: 2/6;
    grid-row: 3/9;
    font-size: 11px;
}
.bild{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    grid-column: 6/10;
    grid-row: 3/7;
    
}
.chart{
    
    grid-column: 6/10;
    grid-row:6/9;
    position: relative;
    top:18px;
}
.chart{
    

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
}
h1{
    font: auto;
}
img.bram {
    width: 40px;
    height: 40px;
    opacity: 1;
    

}
img{
    width: 240px;
    height: 200px;
    border-radius: 10%;
    opacity: 0.9;
}



#progress1{
    position: relative;
    
    background: #333;
    border-radius: 13px;
    height: 10px;
    width: 240px;
    padding: 3px;
}
#progress1:after {
    content: '';
    display: block;
    background: red;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}
.java{
    position: relative;
    top: -20px;
    font-size: 14px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.mainHeader{
    margin: 30px;
    background:#f3f3f3;
    color: black;
    position: relative;

}
.mainHeader:hover{
    background-color: rgba(255, 174, 0, 0.801);
    color: white;

}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),#3551b5),url(../Images/services-bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    max-width: 400px;
    width: 90%;
    margin-top: 100px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;

}

input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 15px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
button {
    transition-duration: 0.4s;
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
  }
  
button:hover {
    background-color: rgba(255, 174, 0, 0.801);
    color: white;
  }

  input:focus~label,
  input:valid~label,
  textarea:focus~label,
  textarea:valid~label{
      top: -35px;
      font-size: 14px;
  }

  .row{
      display: flex;
      align-items: center;
      justify-content:space-between;
  }
 .row .input-group{
      flex-basis: 48%;
  }

  @media (max-width:1399.98px){
      body{
          background: #f3f3f3;
      }

  }

